PUBLIC_SUPABASE_URL=https://eaurnufdochjapfzqwvm.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_HlsXh7GAiHvydk9rTve8Hg_r9PNTjw9
PUBLIC_COURTBOOKING_URL=https://tsvfeldkirchen.courtbooking.de/
